# node dependencies
node_modules

# bower dependencies
bower_components

# Users Environment Variables
.lock-wscript

# Mac
.DS_Store

# Gradle
.gradle
build/

# eclipse build path
bin/

# Ignore Gradle GUI config
gradle-app.setting
