<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>HelloWorld Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.infodesire.wikipower.web.Servlet</servlet-class>
				<init-param>
					<param-name>wikiDataURL</param-name>
					<param-value>classpath:///sample-wiki.zip</param-value>
				</init-param>
				<init-param>
					<param-name>defaultExtension</param-name>
					<param-value>markdown</param-value>
				</init-param>
				<init-param>
					<param-name>baseURI</param-name>
					<param-value>/wikipower</param-value>
				</init-param>
				<init-param>
					<param-name>useCache</param-name>
					<param-value>true</param-value>
				</init-param>
    </servlet>

<!-- 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/bower_components/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
 -->

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app> 